<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<table>
		<tr>
			<td>Work-smarter.nl</td>
		</tr>
		<tr>
			<td>De Goudenregen 33</td>
		</tr>
		<tr>
			<td>5831 RT Boxmeer</td>
		</tr>
		<tr>
			<td>info@work-smarter.nl</td>
		</tr>
		<tr>
			<td>06 4309 0079</td>
		</tr>
		<tr>
			<td>rik.worksmarter</td>
		</tr>
	</table>
</p>
