<div class="center hero-unit">
  <h1>Work-smarter.nl ontwart en ontzorgt.</h1>

  <h2>
    Of het nu gaat om fysieke, virtuele, of private cloud, Work-smarter.nl ontwerpt, bouwt en beheerd uw infrastructuur zodat u zich kunt richten op uw bedrijfsvoering.
  </h2>

  <%= link_to "Neem nu contact op!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
