// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-unit h1 {
    color: inherit;
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}

.navbar-inverse .navbar-inner {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #CC0000, #FF0033);
    background-repeat: repeat-x;
    border-color: #252525;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}