    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Work-Smarter.nl", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    home_path %></li>
              <li><%= link_to "Help",    help_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
